* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::-webkit-scrollbar {
    display: none;
}

.contain_body {
    padding: 150px 0;
}

.becomeMentor_title {
    text-align: center;
    margin: 50px 0;
    color: #14C38E;
}

.form {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}

.btn_submit {
    background: linear-gradient(to right bottom, #00FFAB, #14C38E);
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.error-noti {
    display: none;
}